@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* font-family: 'General Sans', sans-serif; */
  /* font-family: 'Satoshi', sans-serif; */
  font-family: 'Clash Display', sans-serif;
  /* font-family: 'Stardom', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Pencerio', cursive; */
  /* font-family: 'Sentient', serif; */
  /* font-family: 'Chillax', sans-serif; */
}
#ad,
p {
  font-family: 'Bonny', serif;
}
#price {
  font-family: 'Clash Display', sans-serif;
  font-weight: 900;
}
